Source: pipresents
Maintainer: Tobias Jaehnel <tjaehnel@gmail.com>
Section: misc
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), lsb-base (>= 3.0-6)

Package: pipresents
Architecture: all
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, python-imaging, python-imaging-tk, x11-xserver-utils, unclutter
Description: Display package for museums & visitor centres
 Presentation software for the Raspberry Pi
